module.exports =
    [
        {
            text: '源码系列',
            ariaLabel: 'source',
            items:
                [
                    {
                        text: 'Java源码',
                        items: [
                            {
                                text: '集合',
                                link: '/source/java-collections/'
                            },
                            {
                                text: '包装类',
                                link: '/source/java-wrapper/'
                            }

                        ]
                    }
                ]
        },
        {
            text: '算法',
            ariaLabel: 'algorithm',
            items:
                [
                    {
                        text: '数据结构',
                        items: [
                            {
                                text: '数组',
                                link: '/algorithm/array/'
                            },
                            {
                                text: '链表',
                                link: '/algorithm/list/'
                            },
                            {
                                text: '栈',
                                link: '/algorithm/stack/'
                            },
                            {
                                text: '字符串',
                                link: '/algorithm/string/'
                            },
                            {
                                text: '树',
                                link: '/algorithm/tree/'
                            },
                            {
                                text: '哈希表',
                                link: '/algorithm/hashtable/'
                            }
                        ]
                    },
                    {
                        text: '算法',
                        items: [
                            {
                                text: '贪心',
                                link: '/algorithm/greedy/'
                            },
                            {
                                text: '回溯',
                                link: '/algorithm/backtracking/'
                            },
                            {
                                text: '动态规划',
                                link: '/algorithm/dp/'
                            },

                        ]
                    }
                ]
        },
        // {
        //     text: '框架专题',
        //     ariaLabel: 'framework',
        //     items:
        //         [
        //             {
        //                 text: 'Spring',
        //                 items: [
        //                     {
        //                         text: '框架导读',
        //                         link: '/framework/spring-tutorial/'
        //                     },
        //                     {
        //                         text: '源码探索',
        //                         link: '/framework/spring-source/'
        //                     }
        //                 ]
        //             },
                    // {
                    //     text: 'Spring-boot',
                    //     items: [
                    //         {
                    //             text: '框架导读',
                    //             link: '/framework/spring-boot-tutorial/'
                    //         },
                    //         {
                    //             text: '源码探索',
                    //             link: '/framework/spring-boot-source/'
                    //         }
                    //     ]
                    // },
                    // {
                    //     text: 'Spring-cloud',
                    //     items: [
                    //         {
                    //             text: '框架导读',
                    //             link: '/framework/spring-cloud-tutorial/'
                    //         },
                    //         {
                    //             text: '源码探索',
                    //             link: '/framework/spring-cloud-source/'
                    //         }
                    //     ]
                    // },
                    // {
                    //     text: 'Mybatis',
                    //     items: [
                    //         {
                    //             text: '框架导读',
                    //             link: '/framework/mybatis-tutorial/'
                    //         },
                    //         {
                    //             text: '源码探索',
                    //             link: '/framework/mybatis-source/'
                    //         }
                    //     ]
                    // }
                // ]
        // },
        {
            text: 'Java专题',
            ariaLabel: 'java',
            items:
                [
                    {
                        text: 'Java基础',
                        items: [
                            {
                                text: 'Java简史',
                                link: '/java/history/'
                            }
                        ]
                    },
                    {
                        text: 'Java深入',
                        items: [
                            {
                                text: '专题系列',
                                link: '/java/topic/'
                            },
                            {
                                text: '面试集锦',
                                link: '/java/review/'
                            }
                        ]
                    }
                ]
        },
        {
            text: 'MySQL专题',
            ariaLabel: 'mysql',
            items:
                [
                    {
                        text: 'MySQL8.0官方手册中文版',
                        items: [
                            {
                                text: '手册概述',
                                link: '/mysql/manual/'
                            },
                            {
                                text: '1 基本信息',
                                link: '/mysql/manual-1/'
                            },
                            {
                                text: '3 入门教程',
                                link: '/mysql/manual-3/'
                            },
                            {
                                text: '8 优化',
                                link: '/mysql/manual-8/'
                            }
                        ]
                    },
                    {
                        text: 'MySQL实战',
                        items: [
                            {
                                text: 'LeetCode基础',
                                link: '/mysql/leetcode-easy/'
                            },
                            {
                                text: 'LeetCode进阶',
                                link: '/mysql/leetcode-medium/'
                            },
                            {
                                text: 'LeetCode攻坚',
                                link: '/mysql/leetcode-hard/'
                            }

                        ]
                    }
                ]
        },
        {
            text: '分享',
            ariaLabel: 'share',
            items:
                [
                    {
                        text: '个人分享',
                        items: [
                            {
                                text: '理论见深度',
                                link: '/share/theoretical/'
                            },
                            {
                                text: '实践出真知',
                                link: '/share/technical/'
                            }
                        ]
                    },
                    // {
                    //     text: '百家之长',
                    //     items: [
                    //         {
                    //             text: '公众号精品',
                    //             link: '/share/top/'
                    //         }
                    //
                    //     ]
                    // }
                ]
        },
        {
            text: 'Contact',
            link: 'https://github.com/qisong3'
        }

    ]
