module.exports =
    [
        {
            text: '源码系列',
            ariaLabel: 'source',
            items:
                [
                    {
                        text: 'Java源码',
                        items: [
                            {
                                text: '容器源码',
                                link: '/source/java-container/'
                            },
                            {
                                text: '线程相关',
                                link: '/source/java-container/'
                            }

                        ]
                    }
                ]
        },
        {
            text: '算法',
            ariaLabel: 'algorithm',
            items:
                [
                    {
                        text: '数据结构',
                        items: [
                            {
                                text: '数组',
                                link: '/algorithm/array/'
                            },
                            {
                                text: '栈',
                                link: '/algorithm/stack'
                            },
                            {
                                text: '堆',
                                link: '/algorithm/heap/'
                            },
                            {
                                text: '树',
                                link: '/algorithm/tree'
                            },
                            {
                                text: '图',
                                link: '/algorithm/graph'
                            },
                            {
                                text: '哈希表',
                                link: '/algorithm/hashtable'
                            }
                        ]
                    },
                    {
                        text: '算法',
                        items: [
                            {
                                text: '贪心',
                                link: '/algorithm/greedy'
                            },
                            {
                                text: '分治',
                                link: '/algorithm/backtracking'
                            },

                        ]
                    }
                ]
        },
        {
            text: 'Java专题',
            ariaLabel: 'java',
            items:
                [
                    {
                        text: 'Java基础',
                        items: [
                            {
                                text: 'Java简史',
                                link: '/java/history/'
                            },
                            {
                                text: '基础夯实',
                                link: '/java/basic'
                            }
                        ]
                    },
                    {
                        text: 'Java深入',
                        items: [
                            {
                                text: '深入泛型',
                                link: '/java/generic'
                            },
                            {
                                text: '深入lambda',
                                link: '/java/lambda'
                            },

                        ]
                    }
                ]
        },
        {
            text: '框架解读',
            link: '/framework/'
        },
        {
            text: '分享',
            link: '/share/'
        },
        {
            text: 'Contact',
            link: 'https://github.com/qisong3'
        }

    ]
