module.exports =
    [
        {
            text: '源码系列',
            ariaLabel: 'source',
            items:
                [
                    {
                        text: 'Java源码',
                        items: [
                            {
                                text: '集合',
                                link: '/source/java-collections/'
                            },
                            {
                                text: '包装类',
                                link: '/source/java-wrapper/'
                            }

                        ]
                    }
                ]
        },
        {
            text: '算法',
            ariaLabel: 'algorithm',
            items:
                [
                    {
                        text: '数据结构',
                        items: [
                            {
                                text: '数组',
                                link: '/algorithm/array/'
                            },
                            {
                                text: '栈',
                                link: '/algorithm/stack'
                            },
                            {
                                text: '堆',
                                link: '/algorithm/heap/'
                            },
                            {
                                text: '树',
                                link: '/algorithm/tree'
                            },
                            {
                                text: '图',
                                link: '/algorithm/graph'
                            },
                            {
                                text: '哈希表',
                                link: '/algorithm/hashtable'
                            }
                        ]
                    },
                    {
                        text: '算法',
                        items: [
                            {
                                text: '贪心',
                                link: '/algorithm/greedy'
                            },
                            {
                                text: '回溯',
                                link: '/algorithm/backtracking'
                            },

                        ]
                    }
                ]
        },
        {
            text: 'Java专题',
            ariaLabel: 'java',
            items:
                [
                    {
                        text: 'Java基础',
                        items: [
                            {
                                text: 'Java简史',
                                link: '/java/history/'
                            }
                        ]
                    },
                    {
                        text: 'Java深入',
                        items: [
                            {
                                text: '面试集锦',
                                link: '/java/review/'
                            }

                        ]
                    }
                ]
        },
        {
            text: 'MySQL专题',
            ariaLabel: 'mysql',
            items:
                [
                    {
                        text: 'MySQL基础',
                        items: [
                            {
                                text: 'MySQL数据格式',
                                link: '/mysql/datatype/'
                            },
                            {
                                text: '数据库语句',
                                link: '/mysql/sql-statement/'
                            }
                        ]
                    },
                    {
                        text: 'MySQL优化',
                        items: [
                            {
                                text: 'MySQL优化',
                                link: '/mysql/upgrade/'
                            }

                        ]
                    }
                ]
        },
        {
            text: '分享',
            ariaLabel: 'share',
            items:
                [
                    {
                        text: '个人分享',
                        items: [
                            {
                                text: '实践技术',
                                link: '/share/technical/'
                            }
                        ]
                    },
                    {
                        text: '百家之长',
                        items: [
                            {
                                text: '公众号精品',
                                link: '/share/top/'
                            }

                        ]
                    }
                ]
        },
        {
            text: 'Contact',
            link: 'https://github.com/qisong3'
        }

    ]
