module.exports =
    [
        [
            '@vuepress/search',
            {
                searchMaxSuggestions: 10
            }
        ],
        [
            '@vuepress/pwa',
            {
                serviceWorker: true,
                updatePopup: {
                    message: "发现新内容",
                    buttonText: "刷新"
                }
            }
        ],
        [
            '@vuepress/google-analytics',
            {
                ga: 'UA-172114031-1'
            }
        ],
        [
            '@vuepress/active-header-links', {
            sidebarLinkSelector: '.sidebar-link',
            headerAnchorSelector: '.header-anchor'
        }],
        // 图片缩放
        [
            '@vuepress/medium-zoom',
            {
            selector: 'img.zoom-custom-imgs',
            // medium-zoom options here
            // See: https://github.com/francoischalifour/medium-zoom#options
            options: {
                margin: 16
                }
            }
        ],
        [
            'copyright',
            {
                authorName:{
                    "en-US": "Errison",
                    "zh-CN": "作者"
                },
                minLength: 50, // 如果长度超过 50 个字符
            },
        ],
        ['@vuepress/back-to-top'],
        ['@vuepress/register-components'],
        ['container', {
            type: 'tip',
            defaultTitle: {
                '/': '',
                '/zh/': '提示'
            }
        }],
        ['container', {
            type: 'warning',
            defaultTitle: {
                '/': '',
                '/zh/': '注意'
            }
        }],
        ['container', {
            type: 'danger',
            defaultTitle: {
                '/': '',
                '/zh/': '警告'
            }
        }],
        ['container', {
            type: 'right',
            defaultTitle: ''
        }],
        ['container', {
            type: 'theorem',
            before: info => `<div class="custom-block theorem"><p class="title">${info}</p>`,
            after: '</div>'
        }],
        ['container', {
            type: 'details',
            before: info => `<details class="custom-block details">${info ? `<summary>${info}</summary>` : ''}\n`,
            after: () => '</details>\n',
            defaultTitle: {
                '/': 'See More',
                '/zh/': '更多'
            }
        }],
        [
            'flowchart'
        ]

    ]
