module.exports = {

    '/java/history/':
        [
            {
                title: 'Java简史',
                collapse: false,
                children:
                    [
                        '/java/history/',
                        '/java/history/Java诞生史',
                        '/java/history/Java-1',
                        '/java/history/Java-1.1',
                        '/java/history/Java-1.2',
                        '/java/history/Java-1.3',
                        '/java/history/Java-1.4',
                        '/java/history/Java-5',
                        '/java/history/Java-6'
                    ]
            }
        ],

    '/java/review/':
        [
            {
                title: '面试集锦',
                collapse: false,
                children:
                    [
                        '/java/review/',
                        '/java/review/Java多态面试题1',
                        '/java/review/Java多态面试题2',
                    ]
            }
        ],

    '/source/java-collections/':
        [
            {
                title: 'Java集合',
                collapse: false,
                children:
                    [
                        '/source/java-collections/',
                        '/source/java-collections/JDK8——HashMap源码解读',
                        '/source/java-collections/JDK8——ArrayList源码解读',
                        '/source/java-collections/JDK8——LinkedList源码解读',
                        '/source/java-collections/JDK8——Vector源码解读'
                    ]
            }
        ],

    '/source/thread/':
        [
            {
                title: 'Java包装类',
                collapse: false,
                children:
                    [
                        '/source/java-wrapper/',
                    ]
            }
        ],

    '/share/technical/':
        [
            {
                title: '工程化',
                collapse: false,
                children:
                    [
                        '/share/technical/',
                        '/share/technical/vuepress简介&搭建',
                    ]
            }
        ],

    '/go/tutorial/':
        [
            {
                title: '简明教程',
                collapse: false,
                children:
                    [
                        '/go/tutorial/',
                        '/go/tutorial/数据类型',
                    ]
            }
        ],

}
