module.exports = {

    '/java/history/':
        [
            {
                title: 'Java简史',
                collapse: false,
                children:
                    [
                        '/java/history/',
                        '/java/history/Java诞生史',
                        '/java/history/Java-1',
                        '/java/history/Java-1.1',
                        '/java/history/Java-1.2',
                        '/java/history/Java-1.3',
                        '/java/history/Java-1.4',
                        '/java/history/Java-5',
                        '/java/history/Java-6',
                        '/java/history/Java-7',
                        '/java/history/Java-8',
                        '/java/history/Java-9',
                        '/java/history/Java-10',
                        '/java/history/Java-11'
                    ]
            }
        ],
    '/java/review/':
        [
            {
                title: '面试集锦',
                collapse: false,
                children:
                    [
                        '/java/review/',
                        '/java/review/Java多态面试题1',
                        '/java/review/Java多态面试题2',
                    ]
            }
        ],

    '/java/topic/':
        [
            {
                title: '专题系列',
                collapse: false,
                children:
                    [
                        '/java/topic/',
                        '/java/topic/日期时间处理',
                        '/java/topic/Lambda表达式'
                    ]
            }
        ],

    '/source/java-collections/':
        [
            {
                title: 'Java集合',
                collapse: false,
                children:
                    [
                        '/source/java-collections/',
                        '/source/java-collections/JDK8——HashMap源码解读',
                        '/source/java-collections/JDK8——ArrayList源码解读',
                        '/source/java-collections/JDK8——LinkedList源码解读',
                        '/source/java-collections/JDK8——Vector源码解读'
                    ]
            }
        ],

    '/source/java-wrapper/':
        [
            {
                title: 'Java包装类',
                collapse: false,
                children:
                    [
                        '/source/java-wrapper/',
                        '/source/java-wrapper/Integer'
                    ]
            }
        ],

    '/share/technical/':
        [
            {
                title: '实践出真知',
                collapse: false,
                children:
                    [
                        '/share/technical/',
                        '/share/technical/vuepress简介&搭建',
                        '/share/technical/记录一次文件上传失败',
                    ]
            }
        ],

    '/share/theoretical/':
        [
            {
                title: '理论见深度',
                collapse: false,
                children:
                    [
                        '/share/theoretical/',
                        '/share/theoretical/开源协议知多少',
                        '/share/theoretical/XXL-JOB'
                    ]
            }
        ],

    '/mysql/manual/':
        [
            {
                title: 'MySQL8.0用户手册',
                collapse: false,
                children:
                    [
                        '/mysql/manual/'
                    ]
            }
        ],

    '/mysql/manual-1':
        [
            {
                title: '1 基本信息',
                collapse: false,
                children:
                    [
                        '/mysql/manual-1/',
                        '/mysql/manual-1/1.1 关于手册',
                        '/mysql/manual-1/1.2 MySQL数据库管理系统概览'
                    ]
            }
        ],

    '/mysql/manual-3':
        [
            {
                title: '3 入门教程',
                collapse: false,
                children:
                    [
                        '/mysql/manual-3/',
                        '/mysql/manual-3/3.1 连接及断开服务器',
                        '/mysql/manual-3/3.2 进入查询',
                        '/mysql/manual-3/3.3 创建并使用库',
                        '/mysql/manual-3/3.4 获取数据库和表的信息',
                        '/mysql/manual-3/3.5 以批处理模式使用mysql',
                        '/mysql/manual-3/3.6 常见查询示例',
                        '/mysql/manual-3/3.7 与Apache一起使用'
                    ]
            }
        ],

    '/mysql/manual-8':
        [
            {
                title: '8 优化',
                collapse: false,
                children:
                    [
                        '/mysql/manual-8/',
                        '/mysql/manual-8/8.1 优化概览',
                        '/mysql/manual-8/8.2 优化SQL表达式--8.2.1 优化SELECT表达式',
                    ]
            }
        ],

    '/mysql/leetcode-easy/':
        [
            {
                title: 'LeetCode基础',
                collapse: false,
                children:
                    [
                        '/mysql/leetcode-easy/',
                        '/mysql/leetcode-easy/175. 合并两个表',
                        '/mysql/leetcode-easy/176. 第二高的薪水',
                        '/mysql/leetcode-easy/181. 超过经理收入的员工',
                        '/mysql/leetcode-easy/182. 查找重复的电子邮箱',
                        '/mysql/leetcode-easy/183. 从不订购的客户',
                        '/mysql/leetcode-easy/196. 删除重复的电子邮箱',
                        '/mysql/leetcode-easy/197. 上升的温度',
                        '/mysql/leetcode-easy/595. 大的国家',
                        '/mysql/leetcode-easy/596. 超过5名学生的课',
                        '/mysql/leetcode-easy/620. 有趣的电影',
                        '/mysql/leetcode-easy/627. 变更性别',
                        '/mysql/leetcode-easy/511. 游戏玩法分析I-IV'

                    ]
            }
        ],

    '/mysql/leetcode-medium/':
        [
            {
                title: 'LeetCode进阶',
                collapse: false,
                children:
                    [
                        '/mysql/leetcode-medium/',
                        '/mysql/leetcode-medium/177. 第N高的薪水',
                        '/mysql/leetcode-medium/178. 分数排名',
                        '/mysql/leetcode-medium/180. 连续出现的数字',
                        '/mysql/leetcode-medium/184. 部门工资最高的员工',
                        '/mysql/leetcode-medium/626. 换座位'
                    ]
            }
        ],

    '/mysql/leetcode-hard/':
        [
            {
                title: 'LeetCode攻坚',
                collapse: false,
                children:
                    [
                        '/mysql/leetcode-hard/',
                        '/mysql/leetcode-hard/185. 部门工资前三高的所有员工',
                        '/mysql/leetcode-hard/262. 行程和用户',
                        '/mysql/leetcode-hard/601. 体育馆的人流量'
                    ]
            }
        ],


    '/framework/spring-tutorial/':
        [
            {
                title: 'Spring框架解读',
                collapse: false,
                children:
                    [
                        '/framework/spring-tutorial/'
                    ]
            }
        ],

    '/framework/spring-source/':
        [
            {
                title: 'Spring源码探究',
                collapse: false,
                children:
                    [
                        '/framework/spring-source/'
                    ]
            }
        ],

    '/algorithm/array/':
        [
            {
                title: '数组',
                collapse: false,
                children:
                    [
                        '/algorithm/array/',
                        '/algorithm/array/4. 寻找两个正序数组的中位数',
                        '/algorithm/array/15. 三数之和',
                        '/algorithm/array/26. 删除排序数组中的重复项',
                        '/algorithm/array/41. 缺失的第一个正数',
                        '/algorithm/array/80. 删除排序数组中的重复项 II'
                    ]
            }
        ],

    '/algorithm/list/':
        [
            {
                title: '链表',
                collapse: false,
                children:
                    [
                        '/algorithm/list/',
                        '/algorithm/list/2. 两数相加',
                        '/algorithm/list/19. 删除链表的倒数第 N 个结点',
                        '/algorithm/list/206. 反转链表'
                    ]
            }
        ],

    '/algorithm/backtracking/':
        [
            {
                title: '回溯',
                collapse: false,
                children:
                    [
                        '/algorithm/backtracking/',
                        '/algorithm/backtracking/17. 电话号码的字母组合',
                        '/algorithm/backtracking/22. 括号生成',
                        '/algorithm/backtracking/39. 组合总和',
                        '/algorithm/backtracking/51. N 皇后'
                    ]
            }
        ],

    '/algorithm/dp/':
        [
            {
                title: '动态规划',
                collapse: false,
                children:
                    [
                        '/algorithm/dp/',
                        '/algorithm/dp/42. 接雨水',
                        '/algorithm/dp/62. 不同路径',
                        '/algorithm/dp/63. 不同路径 II',
                    ]
            }
        ],

    '/algorithm/greedy/':
        [
            {
                title: '贪心',
                collapse: false,
                children:
                    [
                        '/algorithm/greedy/',
                        '/algorithm/greedy/45. 跳跃游戏 II',
                        '/algorithm/greedy/55. 跳跃游戏'
                    ]
            }
        ],

    '/algorithm/hashtable/':
        [
            {
                title: '哈希表',
                collapse: false,
                children:
                    [
                        '/algorithm/hashtable/',
                        '/algorithm/hashtable/1. 两数之和'
                    ]
            }
        ],

    '/algorithm/string/':
        [
            {
                title: '字符串',
                collapse: false,
                children:
                    [
                        '/algorithm/string/',
                        '/algorithm/string/14. 最长公共前缀'
                    ]
            }
        ],

    '/algorithm/stack/':
        [
            {
                title: '栈',
                collapse: false,
                children:
                    [
                        '/algorithm/stack/',
                        '/algorithm/stack/20. 有效的括号'
                    ]
            }
        ],

    '/algorithm/tree/':
        [
            {
                title: '二叉树',
                collapse: false,
                children:
                    [
                        '/algorithm/tree/',
                        '/algorithm/tree/94. 二叉树的中序遍历',
                        '/algorithm/tree/144. 二叉树的前序遍历',
                        '/algorithm/tree/145. 二叉树的后序遍历',
                    ]
            }
        ],


}
