module.exports = {

    '/java/history': [{
        title: 'Java简史',
        collapse: false,
        children: [
            '/java/history/',
            '/java/history/Java诞生史',
            '/java/history/Java-1',
            '/java/history/Java-1.1',
            '/java/history/Java-1.2'
        ]
    }]
}
