module.exports =
    [
        [
            '@vuepress/search',
            {
                searchMaxSuggestions: 10
            }
        ],
        [
            '@vuepress/pwa',
            {
                serviceWorker: true,
                updatePopup: {
                    message: "发现新内容",
                    buttonText: "刷新"
                }
            }
        ],
        [
            '@vuepress/google-analytics',
            {
                ga: 'UA-172114031-1'
            }
        ],
// [
//   'vuepress-plugin-auto-sidebar',{}
// ]
]
